.btn-secondary {
  background-color: #8A1C1E !important;
  border-color: #8A1C1E !important;
  color: white !important;
}

.btn-primary {
  background-color: #8A1C1E !important;
  border-color: #8A1C1E !important;
  color: white !important;
}